.filmsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.card {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-bottom: 1rem;
}

.card img {
  width: 100%;
}

.card h1 {
  font-size: 1.6rem;
  padding: 0 0.5rem;
  margin-bottom: 0;
  line-height: 1;
}

.card a {
  color: inherit;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

.filmDetails {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 500px) {
    grid-template-columns: 66% 33%;
  }
}

.filmDetails img {
  max-width: 100%;
}
