* {
  box-sizing: border-box;
}

.my-class {
  color: red;
}

body > p {
  color: blueviolet;
  clear: both;
}

html p {
  color: cyan;
}

.hidden {
  display: none !important; /* this is ok for utility classes */
}

p:hover {
  color: green;
}

#email,
.my-class {
  height: 100px;
}

p::first-letter {
  font-size: 3em;
  float: left;
}

a[href^='http']::before {
  content: '';

  display: inline-block;

  background-image: url(../assets/external-link.png);
  background-size: contain;
  background-repeat: no-repeat;

  width: 10px;
  height: 10px;
}

a {
  color: red;
}

h1 + a {
  color: yellow;
}

label:has(input[type='checkbox']:checked) {
  text-decoration: line-through;
}

/* 
  *                             - Any Selector                              - 0
  E, ::pseudo-element           - Element, Pseudo-Element Selectors         - 1
  .class, :pseudo-class, [attr] - Class, Pseudo-Class, Attribute Selectors  - 10
  #id                           - Id Selector                               - 100
*/
