.nav {
  background: #333;
  color: #fff;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0.3rem 0.5rem;
}

.pushRight {
  margin-left: auto;
}

a.active,
.nav a:hover {
  color: #cdcdcd;
}
